@import "./foundation/all";

.container {
  display: flex;
  height: 100%;
  width: 100%;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;

  @include phone {
    padding: 0px 10px;
  }

}

.title {
  margin-top: 15px;
}